<div layout="column" class="form">
<form (ngSubmit)="login()" #loginForm="ngForm">
    <div class="form-container">
        <mat-form-field>
            <input [(ngModel)]="loginRequest.name" name="user" required matInput placeholder="Benutzer" />
        </mat-form-field>
    </div>
    <div class="form-container">
        <mat-form-field>
            <input [(ngModel)]="loginRequest.password" name="password" required matInput placeholder="Passwort" type="password" />
        </mat-form-field>
    </div>
    <div class="form-container">
        <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Login</button>
    </div>
</form>
</div>