<div layout="column" class="form" *ngIf="sponsor">
  <form #sponsorForm="ngForm">
    <div class="form-container">
      <mat-radio-group [(ngModel)]="sponsor.typ" name="typ" required>
        <mat-radio-button [value]="'company'">{{'company' | sponsortyp}}</mat-radio-button>
        <mat-radio-button [value]="'individual'">{{'individual' | sponsortyp}}</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="form-container">
      <mat-form-field>
        <input [(ngModel)]="sponsor.name" name="name" required minlength="2" matInput placeholder="Name"/>
      </mat-form-field>
      <mat-form-field *ngIf="sponsor.typ === 'individual'">
        <input [(ngModel)]="sponsor.vorname" name="vorname" required matInput placeholder="Vorname"/>
      </mat-form-field>
    </div>
    <div class="form-container">
      <mat-form-field>
        <input [(ngModel)]="sponsor.strasse" name="strasse" matInput placeholder="Strasse"/>
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="sponsor.ortstring" name="ort" matInput placeholder="Ort" aria-label="Ort"
               [matAutocomplete]="auto" [formControl]="plzort"/>
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete" on-optionSelected="optionSelected($event)">
        <mat-option *ngFor="let ort of filteredList | async" [value]="ort.fullname">
          {{ort.fullname}}
        </mat-option>
      </mat-autocomplete>
    </div>
    <div class="form-container">
      <mat-form-field>
        <input [(ngModel)]="sponsor.telefon" name="telefon" matInput placeholder="Telefon"/>
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="sponsor.email" name="email" type="email" matInput placeholder="E-Mail"
               email="false"/>
      </mat-form-field>
      <mat-form-field>
        <input [(ngModel)]="sponsor.homepage" name="homepage" type="url" matInput placeholder="Webseite"/>
      </mat-form-field>
    </div>
    <div class="form-container">
      <mat-form-field>
                <textarea [(ngModel)]="sponsor.notiz" name="notiz" matInput placeholder="Notiz" matTextareaAutosize
                          matAutosizeMinRows="2" matAutosizeMaxRows="8"></textarea>
      </mat-form-field>
    </div>
    <div *ngIf="sponsor.typ === 'company'" class="form-container">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Ansprechpartner
          </mat-panel-title>
          <mat-panel-description>
            {{sponsor.name_ansprechpartner}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="form-container">
          <mat-form-field>
            <input [(ngModel)]="sponsor.name_ansprechpartner" name="name_ansprechpartner" matInput
                   placeholder="Name"/>
          </mat-form-field>
        </div>
        <div class="form-container">
          <mat-form-field>
            <input [(ngModel)]="sponsor.telefon_ansprechpartner" name="telefon_ansprechpartner" matInput
                   placeholder="Telefon"/>
          </mat-form-field>
        </div>
        <div class="form-container">
          <mat-form-field>
            <input [(ngModel)]="sponsor.email_ansprechpartner" name="email_ansprechpartner" matInput
                   placeholder="E-Mail" email="false"/>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </div>
    <div class="form-container" *ngIf="sponsor.id">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Engagements
          </mat-panel-title>
        </mat-expansion-panel-header>
        <router-outlet name="engagement"></router-outlet>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Beziehungen
          </mat-panel-title>
        </mat-expansion-panel-header>
        <router-outlet name="beziehung"></router-outlet>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Dokumente
          </mat-panel-title>
        </mat-expansion-panel-header>
        <router-outlet name="dokument"></router-outlet>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Logo
          </mat-panel-title>
        </mat-expansion-panel-header>
        <router-outlet name="logo"></router-outlet>
      </mat-expansion-panel>
    </div>
    <div class="form-container">
      <button mat-raised-button color="primary" (click)="save()" [disabled]="!sponsorForm.form.valid">Speichern</button>
    </div>
  </form>
</div>
