<div layout="column" *ngIf="entry">
    <form (ngSubmit)="save()" #engagementForm="ngForm">
        <div flex>
            <mat-form-field>
                <input [(ngModel)]="entry.name" name="name" required matInput placeholder="Name" />
            </mat-form-field>
        </div>
        <div flex>
            <mat-form-field>
                <input [(ngModel)]="entry.betrag" name="betrag" required matInput placeholder="Betrag" />
            </mat-form-field>
        </div>
        <div flex>
            <button mat-raised-button [disabled]="!engagementForm.form.valid">Speichern</button>
        </div>
    </form>
</div>