<mat-table #table [dataSource]="dataSource" *ngIf="dataSource">
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="betrag">
        <mat-header-cell *matHeaderCellDef>Betrag</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.betrag}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="seebli">
        <mat-header-cell *matHeaderCellDef>SeebliPlus</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.seebli ? 'Ja' : 'Nein'}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="zahlung">
        <mat-header-cell *matHeaderCellDef>Zahlung</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.zahlung | zahlung}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
            <button mat-icon-button routerLink="/engagement/new">
                <mat-icon aria-label="Neuer Eintrag">add</mat-icon>
            </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-icon-button routerLink="/engagement/{{element.id}}">
                <mat-icon aria-label="Eintrag bearbeiten">edit</mat-icon>
            </button>
            <button mat-icon-button (click)="openDeleteDialog(element)">
                <mat-icon aria-label="Eintrag löschen">delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['name', 'betrag', 'zahlung', 'seebli', 'actions']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['name', 'betrag', 'zahlung', 'seebli', 'actions']"></mat-row>

</mat-table>