<mat-toolbar>
  <span>Dashboard - {{year}}</span>
</mat-toolbar>
<mat-expansion-panel [expanded]="onetimeDataSource.data.length > 0" *ngIf="onetimeDataSource">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Einmalig
    </mat-panel-title>
    <mat-panel-description>
      {{onetimeDataSource.data.length}}
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-table #table [dataSource]="onetimeDataSource">
    <ng-container matColumnDef="sponsor">
      <mat-header-cell *matHeaderCellDef>Sponsor</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.sponsor}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="engagement">
      <mat-header-cell *matHeaderCellDef>Engagement</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.engagement}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="dauer">
      <mat-header-cell *matHeaderCellDef>Dauer</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.von | date:'dd.MM.yy'}}<br/>{{element.bis | date:'dd.MM.yy'}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="betrag">
      <mat-header-cell *matHeaderCellDef>Betrag<br/>pro Rata</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.betrag | number:'1.2-2'}}<br/>{{element.betragProRata ?
        (element.betragProRata | number:'1.2-2') : '-'}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['sponsor', 'engagement', 'dauer', 'betrag']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['sponsor', 'engagement', 'dauer', 'betrag']"></mat-row>
  </mat-table>

</mat-expansion-panel>
<mat-expansion-panel [expanded]="annualDataSource.data.length > 0" *ngIf="annualDataSource">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Jährlich
    </mat-panel-title>
    <mat-panel-description>
      {{annualDataSource.data.length}}
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-table #table [dataSource]="annualDataSource">
    <ng-container matColumnDef="sponsor">
      <mat-header-cell *matHeaderCellDef>Sponsor</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.sponsor}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="engagement">
      <mat-header-cell *matHeaderCellDef>Engagement</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.engagement}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="dauer">
      <mat-header-cell *matHeaderCellDef>Dauer</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.von | date:'dd.MM.yy'}}<br/>{{element.bis | date:'dd.MM.yy'}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="betrag">
      <mat-header-cell *matHeaderCellDef>Betrag<br/>pro Rata</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.betrag | number:'1.2-2'}}<br/>{{element.betragProRata ?
        (element.betragProRata | number:'1.2-2') : '-'}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['sponsor', 'engagement', 'dauer', 'betrag']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['sponsor', 'engagement', 'dauer', 'betrag']"></mat-row>
  </mat-table>

</mat-expansion-panel>


