@import "~@angular/material/prebuilt-themes/indigo-pink.css";

#overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.mat-spinner {
  margin: 200px auto 0 auto;
}

h1.app-name {
  margin-left: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-radio-group, mat-slide-toggle {
  padding-bottom: 1.25em;
}

.mat-radio-button {
  margin-right: 10px;
}

.form {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .toolbar {
    position: fixed;
    z-index: 2;
  }

  .sidenav-container {
    flex: 1 0 auto;
  }
}

@media (min-width: 601px) {
  .container{
    max-width: 700px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .sidenav-container {
    flex: 1;
  }
}
